{% extends 'base.html' %}
{% block body %}


    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <div class="col-lg-3">
        {% if logged_in == 1 %}  
          <h1>Welcome!</h1>
        {% else %}
         <h1> Sign in to Join! </h1>
         {% endif %}
          <div class="list-group">
            <a href="#" class="list-group-item">Location</a>
            <a href="#" class="list-group-item">Subject</a>
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

         
    {% if name.isEmpty %}
        <p>No groups are available.</p>
     {% else %}
        {% for i in groupList %}
            <div class="row">

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="card h-100">
                
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="/group?id={{ i.id }}">{{i.name}}</a>
                  </h4>
                 
                  <p class="card-text">{{i.description}}</p>
                </div>
                </div>
              </div>
            </div>
        {% endfor %}
    {% endif %}
          

          


    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>
{% endblock %}
